div.field.placement .chzn-container, div.field.placement input {
    display: block;
}
div.field.placement input.loading {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-size: 16px 16px;
}