div.field.sponsor input {
    display: block;
}
div.field.sponsor input.loading {
    background-image: url("../images/loading.gif") !important;
    background-repeat: no-repeat !important;
    background-position: 99% 50% !important;
    background-size: 16px 16px !important;
}