div.field.teammember input {
    display: block;
}
div.field.teammember input.loading {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: 99% 50%;
    background-size: 16px 16px;
}